<div class="row">
  <div class="span9 offset5">
    <%= form_for @user do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label '用户名' %>
      <%= f.text_field :name %>

      <%= f.label '邮箱' %>
      <%= f.text_field :email %>

      <%= f.label '密码' %>
      <%= f.password_field :password %>

      <%= f.label '确认密码' %>
      <%= f.password_field :password_confirmation %>

      <br>

      <%= f.submit '注册', class:"btn btn-primary"%>
    <% end %>
  </div>
</div>
