<%= form_for @submission do |f| %>
<div class="row">
  <div class = "span9 offset3">
    <%= f.label '招聘公司:' %>
    <%= f.text_field :company %>

    <%= f.label '开始日期:' %>
    <%= f.date_select :start %>

    <%= f.label '结束日期:' %>
    <%= f.date_select :end %>
    <br>
    <%= f.submit '分享网申信息', class:"btn btn-primary" %>
    <% end %>
    <%= link_to 'Back', submissions_path %>
  </table>
</div>
