<div class="navbar navbar-inverse navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to 'Job Share', root_path, id:"logo" %>
      <nav>
        <ul class="nav">
          <li><%= link_to '主页', root_path %></li>
          <li><%= link_to '网申', submissions_path %></li>
          <li><%= link_to '宣讲', recruitments_path %></li>
          <li><%= link_to '笔试', exams_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
